/****************************/
/***   page A propos de   ***/
/****************************/

/******************/
/***   Police  ***/
/*****************/

@font-face {
    font-family: 'Parfait';
    src: url('../font/Parfait.ttf')
}


h1,
h2,
a {
    font-family: Parfait;
}


/*****************/
/***   Body   ***/
/****************/

html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    color: white;
    background: linear-gradient(180deg, #ff6ec4, #7873f5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


a {
    text-decoration: none;
    color: white;
}


/*******************/
/***   Header   ***/
/******************/

header {

    display: flex;
    justify-content: flex-end;
    gap: 30px;

    padding: 30px;
    background-color: white;
}


.uha {

    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 60px;
    margin-left: 20px;
}

.arrondiDgrad {
    color: white;
    background: linear-gradient(90deg, #ff6ec4, #7873f5);
    padding: 20px 30px;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    margin-right: 50px;

}

.arrondiDgrad:hover {

    transform: scale(1.2);
}


/***************************/
/***   Zones de textes   ***/
/***************************/

.parent {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.arrondiBleu2 {

    background-color: rgb(35, 11, 77);
    margin-top: 50px;
    margin-left: 20px;
    height: 400px;
    width: 500px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;

}

.flex {
    display: flex;
}

.flex>ol {

    margin-left: 30px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.lien {
    font-family: initial;
}


.lien:hover {
    text-decoration: underline;
    color: blue;
}


/***   Zone image  ***/

img {
    max-width: 250px;
    height: auto;
    border-radius: 30px;
}



/***   Fin de Zone image  ***/


.arrondiBleu3 {

    background-color: rgb(35, 11, 77);
    margin-top: 50px;
    padding: 20px;
    height: 300px;
    width: 600px;
    margin-left: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;

    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}


.alignementDroite {

    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.asterix {
    font-size: small;
    margin-top: 100px;
}

/*******************/
/***   Footer   ***/
/******************/

footer {
    
    margin-top: 30px;
    background-color: black;
    padding: 30px;
    color: white;


}

.signature {

    display: flex;
    align-items: flex-end;
    flex-direction: column;
}