/*****************************************/
/***   page Style de la SAE concernée  ***/
/*****************************************/

/******************/
/***   Police  ***/
/*****************/

@font-face {
    font-family: 'Parfait';
    src: url('../font/Parfait.ttf')
}

h1,
h2,
h3,
a,
.titre {
    font-family: Parfait;
}

/*****************/
/***   Body   ***/
/****************/

html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    color: white;
    background: linear-gradient(180deg, #ff6ec4, #7873f5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/*******************/
/***   Header   ***/
/******************/


header {

    display: flex;
    justify-content: flex-end;
    gap: 30px;

    padding: 30px;
    background-color: white;
}

.uha {

    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 60px;
    margin-left: 20px;
}

.arrondiDgrad {
    color: white;
    background: linear-gradient(90deg, #ff6ec4, #7873f5);
    padding: 20px 30px;
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    margin-right: 50px;

}

.arrondiDgrad:hover {

    transform: scale(1.2);
}


a {
    text-decoration: none;
    color: white;
}

/****************************************/
/***   Page détaillée de chaque SAE   ***/
/****************************************/

main {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 20px;
}

.titre {
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
}

.boutonPdf>a {

    border-radius: 30px;
    background-color: rgb(35, 11, 77);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 180px;

    margin-top: 30px;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    gap: 10px;
    white-space: nowrap; /* empêche le texte de descendre */
}

.boutonPdf>a:hover { 
    transform: scale(1.2); 
    
}



/****************************/
/***   Bouton retour SAE  ***/
/****************************/

.alignementDroite {

    display: flex;
    justify-content: flex-end;
    margin-top: 50px;

}


/*******************/
/***   Footer   ***/
/******************/

footer {
    margin-top: 30px;
    background-color: black;
    padding: 30px;
    color: white;


}

.signature {

    display: flex;
    align-items: flex-end;
    flex-direction: column;
}